html, body {
  margin: 0;
}

.App {
  text-align: center;
}

.Dice {
  padding: 2rem;
  font-size: 8rem;
  font-weight: bold;
  background-color: black;
  color: white;
}

.Buttons {
  padding: 2rem;
  font-size: 2rem;
}

.Buttons button {
  padding: 0.25rem 0.75rem;
  font-size: 2rem;
  border: 1px solid #888;
  background-color: white;
  text-transform: uppercase;
  border-radius: 5px;
}

.Buttons button:hover {
  cursor: pointer;
  border-color: #444;
}

.Buttons button[data-action="roll-dice"] {
  background-color: black;
  color: white;
}
